/* Global styles*/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

/* Style for the navigation bar */
.nav {
  background-color: #1976d2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 23px;
  font-size: 20px;
  align-items: stretch;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

/* Style for the navigation bar's unordered list */
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* Style for navigation links */
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Style for active navigation item */
.nav li.active {
  text-decoration: underline;
}

/* Style for navigation items on hover */
.nav li:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Style for the main text */
.mainText {
  padding-top: 80px;
  font-weight: normal;
}

/* Style for the sub text */
.subText {
  padding-top: 10px;
  font-weight: normal;
  margin-left: 50px;
  text-decoration: underline;
}

/* Style for input data container */
.inputData {
  width: 600px;
  padding-top: 40px;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* Style for dropdown label using MUI */
.dropDown .MuiInputLabel-root {
  position: absolute;
  top: 3px;
  background-color: white;
  padding: 0 4px;
  font-size: 0.8rem;
  z-index: 2;
}

/* Style for dropdown container */
.dropDown {
  position: relative;
  margin-left: 220px;
  top: -30px;
  border-radius: 5px;
  padding-bottom: 50px;
}

/* Style for input field label */
.inputLabel {
  position: relative;
  top: -15px;
  right: 225px;
  font-size: 15px;
  color: gray;
  pointer-events: none;
  transition: font-size 0.3s ease, top 0.3s ease, color 0.3s ease;
  transform-origin: left bottom;
}

/* Style for input field */
.inputField {
  outline: 0;
  border: 0;
  border-bottom: 2px solid silver;
  margin-left: 190px;
  color: #000000;
  width: 38%;
  margin-bottom: 50px;
  background: transparent;
  transition: border-color 0.3s ease;
}

/* Style for active input field */
.inputData input:focus {
  border-color: #007bff;
}

/* Style for active input label */
.inputData input:focus ~ .inputLabel {
  top: -20px;
  font-size: 0.75em;
  color: #007bff;
  z-index: 1;
}

/* Style for button container */
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for submit and cancel buttons */
.submitButton,
.cancelButton {
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

/* Style for cancel button */
.cancelButton {
  background-color: #dc3545;
}

/* Hover effect for both buttons */
.submitButton:hover,
.cancelButton:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

/* Style for filtered entries list */
.filteredEntries ul {
  list-style: none;
  align-items: center;
  align-content: center;
}
